/* CSS 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video,textarea,input,select,button{margin:0; padding:0; border:0 none; font-size:100%; vertical-align:baseline; background:transparent;}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1;font-family:AppleSDGothicNeo-Regular,'Montserrat',sans-serif;color:#1a1b1f;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
dl,ul,ol,menu,li{list-style:none;}
blockquote,q{quotes: none /*따옴표 안생기게*/}
a{margin:0; padding:0; font-size:100%; text-decoration:none; vertical-align:baseline; color:#222; background:transparent;}
img{vertical-align:top;/* 인라인 수평맞추는것 */ max-width: 100%;}
table{border-collapse:collapse; border-spacing:0;}
/* input{
margin:0;
padding:0;
box-sizing:content-box;
vertical-align:top;
appearance:none;
border:1px solid #e65d5d;
color:#e65d5d;
border-radius:0; 
font-family:NanumGothic,나눔고딕,'Nanum Gothic','맑은 고딕',HelveticaNeue,DroidSans,Sans-serif,Helvetica;
} */
/* input::-moz-input-placeholder{
color:#e65d5d;
}
input::-webkit-input-placeholder {
color:#e65d5d;
} */
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
hr {display: none;}
.blind,legend {display: block; position: absolute; left: 0; top: -9999em; overflow: hidden;}
.skip a {display: block; position: absolute; left: 0; top: -9999em; z-index: 9999; padding: 0 1em; background-color: #010101; color: #a0a0a0; line-height: 2.2;}
.skip a:focus {top: 0;}
.clearfix {*zoom: 1;}
.clearfix:after {content: ''; display: block; clear: both;}
.s1140 {width: 1140px; margin: 0 auto;}
.m1140 {min-width: 1140px; margin: 0 auto;}
body {min-width: 320px;}
